<div class=' bold aboutUstitle'>About Us</div>

<div class='staticContent'>

    <div class='aboutContent'>
        Weeve is a community of change agents. Our free, simple and secure platform connects businesses, individuals and nonprofit organizations together in order to generate positive social change, one community at a time
    </div>
    <div class='aboutContent'>
    Join us today to change your community and redefine giving. :)
    </div>
</div>


<div class='aboutCentered bold'>The Weeve Team</div>

<div class='aboutsWrap'>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('Alex.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Alex Chuang</div>
      <div class='aboutPosition'><img src='<%= asset_path('alexstash.png') %>'/>Management</div>
      <div class='aboutBlurb italic'>Social Entrepreneur, Idea Agent, Connector of Awesomeness. I like pop-up books.</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/alexchuang72"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/pub/alex-chuang/13/201/a63"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutSpace'></div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('Vince.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Vincent Chu</div>
      <div class='aboutPosition'><img src='<%= asset_path('vincestash.png') %>'/>Software and Design</div>
      <div class='aboutBlurb italic'>
        Rails ninja, user experience and design enthusiast, avid gamer.
      </div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/soulinas"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/profile/view?id=77266194&locale=en_US&trk=tyah"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('Trevor.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Trevor Loke</div>
      <div class='aboutPosition'><img src='<%= asset_path('trevorstash.png') %>'/>Operations</div>
      <div class='aboutBlurb italic'>Park Board Commissioner, CuttingEdgesYVR goalie, & (world's pickiest) Vegetarian.</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/TrevorLoke"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/profile/view?id=49238180&locale=en_US&trk=tyah"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutSpace'></div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('Daniel.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Daniel Maki</div>
      <div class='aboutPosition'><img src='<%= asset_path('danielstash.png') %>'/>Social Media</div>
      <div class='aboutBlurb italic'>Student of politics and history, feminist, activist, culture vulture, writer.</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/Dmaki891"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/profile/view?id=127110270&authType=NAME_SEARCH&authToken=_3sf&locale=en_US&srchid=db7b4cf4-b4bb-4a02-af57-b1834674461f-0&srchindex=2&srchtotal=60&goback=%2Efps_PBCK_daniel+maki_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('vinay.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Vinay Solanki</div>
      <div class='aboutPosition'><img src='<%= asset_path('vinaystash.png') %>'/>Development</div>
      <div class='aboutBlurb italic'>Web developer, Gamer, Creator of systems. Ready to rock and roll in the tech renaissance.</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/vinaysolanki"><img src="<%= asset_path('twitterbox.png') %>"/></a>
      </div>
    </div>
  </div>
</div>

<div class='aboutUstitle bold'>Our Advisors</div>

<div class='aboutContent'>
  We are very fortunate to have the support of our advisers. They help us make good decisions, connect us with our community, and lend us their expertise, experience, and wisdom. They are truly the leaders and experts of their respective fields.
</div>

<div class='aboutsWrap'>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('Joel.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Joel Solomon</div>
      <div class='aboutPosition'>President, Renewal</div>
      <div class='aboutBlurb italic'>"Weeve is a community for anyone who believes in positive social change."</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/joelsolomon"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/profile/view?id=1233574&locale=en_US&trk=tyah"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutSpace'></div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('johnhorn.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>John Horn</div>
      <div class='aboutPosition'>Associate Director, UBC</div>
      <div class='aboutBlurb italic'>“Weeve represents the future of philanthropy.”</div>
      <div class='aboutSocial'>
        <a href="https://twitter.com/#!/hornjohnhorn"><img src="<%= asset_path('twitterbox.png') %>"/></a>
        <a href="http://www.linkedin.com/profile/view?id=38471423&locale=en_US&trk=tyah"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
  <div class='aboutWrap'>
    <div class='aboutLeft'>
      <img src="<%= asset_path('lawell.png') %>"/>
    </div>
    <div class='aboutRight'>
      <div class='aboutName bold'>Lawell King</div>
      <div class='aboutPosition'>Sr. Director of Engineering, SAP
      </div>
      <div class='aboutBlurb italic'>“Weeve allows nonprofits to achieve a new level of outreach, efficiency, and transparency.”</div>
      <div class='aboutSocial'>
        <a href="http://www.linkedin.com/profile/view?id=154350&locale=en_US&trk=tyah"><img src="<%= asset_path('linkedinbox.png') %>"/></a>
      </div>
    </div>
  </div>
</div>

