<%= render :partial => 'pressbar' %>
<div id='mediaDiv'>
    <div id='mediaKitTitle' class='bold'>Weeve Media Kit</div>
    <p> This page contains media resources for Weeve and brand information which can be used for publishing purposes.</p>
    <p> If you cannot find what you are looking for, feel free to <a href='mailto:hello@weeve.it' class='weeve-link'> contact us</a> directly</p>

	<hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Media Contact</div>
	<div class='mediaPersonWrap'>
    	<p> Alex Chuang, Founder & CEO <br/> <a href='mailto:trevor@weeve.it'>alex@weeve.it</a><br/>778-688-5611</p>
	</div>
	<div class='mediaPersonWrap'>
    	<p> Trevor Loke, Founder & COO <br/> <a href='mailto:trevor@weeve.it'>trevor@weeve.it</a><br/>604-916-0483</p>
	</div>
	
    <hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Brand Name</div>
    <p> Weeve or Weeve Ventures Inc.</p>
    <p> Not: Weave, Weev, WeeveIt, Weev.it</p>

    <hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Company Description</div>
    <p class='bold'>Tagline:</p>
    <p> Give Smarter </p>
    <p class='bold'>25 words:</p>
    <p> Weeve helps nonprofit organizations raise money for their community projects through an online social fundraising platform that is free, easy-to-use, and secure. </p>
    <p class='bold'>50 words:</p>
    <p> Weeve is a crowdfunding platform that allows nonprofit organizations to raise money and awareness for their cause 100% free. Features include social fundraising with integrated social media buttons, project management dashboard, downloadable donor list, blog updates, and community engagement tools. </p>
    <p class='bold'>100 words:</p>
    <p> Weeve is a crowdfunding platform that allows nonprofit organizations to raise money and awareness for their cause 100% free. Features include social fundraising with integrated social media buttons, project management dashboard, downloadable donor list, blog updates, and community engagement tools. </p>
    <p> Founded on the values of social responsibility, transparency, and locality, Weeve addresses the fundraising challenges and inefficiencies affecting the nonprofit sector. Weeve aims to democratize giving by empowering individuals to give back to their communities in small amounts of donation. </p>

    <hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Brand Assets</div>
    <p class='bold'>Logos:</p>
    <div class='brandImages'>
        <a href='<%= asset_path('btg.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('btg.png') %>'/></div>
            <div class='pressLogoSubtitle'>Blue on transparent</div>
        </a>
        <a href='<%= asset_path('wtg.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('wtg.png') %>'/></div>
            <div class='pressLogoSubtitle'>White on transparent</div>
        </a>
    </div>
    <p class='bold'>Screenshots:</p>
    <div class='brandImages'>
        <a href='<%= asset_path('Landing Page.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('Landing Page.png') %>'/></div>
            <div class='pressLogoSubtitle'>Landing Page</div>
        </a>
        <a href='<%= asset_path('Project Page.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('Project Page.png') %>'/></div>
            <div class='pressLogoSubtitle'>Project Page</div>
        </a>
    </div>

    <hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Founder Bios</div>
    <div class='pressBioWrap'>
        <p class='bold founderName'>Alex Chuang - Founder & CEO</p>
        <p><img class='founderImage' src='<%= asset_path('alexfounder.jpg') %>'/>Alex is a social entrepreneur and a recent Masters of Management graduate from UBC Sauder School of Business. Alex is an idea machine. He has an incurable need to produce sustained results, and a burning passion to strive for the best. With a heart of gold and a vibrant social conscious, Alex aims to change the world, one community at a time. As CEO, Alex leads the executive team and coordinates between the business and technical developments of Weeve.</p>
    </div>
    <div class='pressBioWrap'>
        <p class='bold founderName'>Vincent Chu - Founder & CTO</p>
        <p><img class='founderImage' src='<%= asset_path('vincefounder.jpg') %>'/>Vincent is a software engineer, graphic designer and a Ruby on Rails ninja.  He has worked at large international software companies such as IBM and SAP as a software engineer and project manager. Having built multiple web applications over the past 3 years, he is able to produce designs that are simple but rich in features.  Along with software development, Vincent’s experience in project management allows him to lead development teams with the ability to communicate to both non-technical and technical stakeholders.  As CTO, Vincent leads the product and technical developments of Weeve.</p>
    </div>
    <div class='pressBioWrap'>
        <p class='bold founderName'>Trevor Loke - Founder & COO</p>
        <p><img class='founderImage' src='<%= asset_path('trevorfounder.jpg') %>'/>Trevor has an extensive history in building communities and is a true agent of social change. Trevor was first elected to the Vancouver Park Board in 2011, becoming the youngest elected official in Vancouver history at the age of 22. Trevor is also involved as a volunteer advisor and board member to several nonprofit organizations, an active hockey player, and is the world’s pickiest vegetarian. As COO Trevor leads Weeve’s business strategy, coordinates the development of the product with the executive team and manages the operations of the company.
        </p>
    </div>

	<hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Photographs</div>
<p class='bold'>Team Photos:</p>
	<div class='brandImages'>
        <a href='<%= asset_path('Team shot 1.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('Team shot 1.png') %>'/></div>
            <div class='pressLogoSubtitle'>Team Shot 1</div>
        </a>
        <a href='<%= asset_path('Team shot 2.png') %>' class='pressLogo'>
            <div><img class='pressLogoWrap' src='<%= asset_path('Team shot 2.png') %>'/></div>
            <div class='pressLogoSubtitle'>Team Shot 2</div>
        </a>
    </div>

    *Photo Credit: Jerry Yang, Kairos Exposure
</div>