<div class='project-content-media'>
    <img src='<%= @project.startmedia %>' class='project-video'></img>
</div>
<iframe src="www.facebook.com/plugins/like.php?href=www.google.com&amp;send=false&amp;layout=standard&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:35px;" allowTransparency="true"></iframe>
<hr class='dotted project-hr'/>
<div class='project-content-title bold'>About this project</div>
<div class='project-content-body'><%= @project.overview %></div>
<div class='project-content-title bold'>Project Impact</div>
<div class='project-content-body'><%= @project.impact %></div>
<div class='project-content-title bold'>Use of project funds</div>
<div class='project-content-body'><%= @project.funds %></div>
<div class='project-content-title bold'>Project milestones</div>
<div class='project-content-body'><%= @project.milestones %></div>