<%= render :partial => "project_edit_top", :locals => {:home => true} %>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
	new nicEditor({
        buttonList : ['left','center','image','bold','italic','link','unlink','ol','ul','fontFormat']
    }).panelInstance('detailsEditor');
    new nicEditor({
        buttonList : ['left','center','image','bold','italic','link','unlink','ol','ul','fontFormat']
    }).panelInstance('impactEditor');
    new nicEditor({
        buttonList : ['left','center','image','bold','italic','link','unlink','ol','ul','fontFormat']
    }).panelInstance('useEditor');
    new nicEditor({
        buttonList : ['left','center','image','bold','italic','link','unlink','ol','ul','fontFormat']
    }).panelInstance('milestoneEditor');
});
</script>

<div class='edit-title'>Project Home</div>
<%= form_for @project, :url => {:controller => :projects, :action => :update_home, :id => @project.id, :account_id => current_usertype.account_id} do |f| %>
    <% if @project.errors.any? %>
        <div class='confirmBox error smallmargin smallerror'>
            <div class='closeConfirm'></div>
            <% for message in @project.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
        </div>
    <% end %>
    <div id='project-edit-wrap'>
	
        <div class='project-signup-form-title'>Project Title</div>

        <div class='project-file-input-wrap'>
            <%= f.text_field :title, :class => 'project-signup-text-medium input', :id => 'proj-title-input' %>
        </div>

		<% if @project.status == Project.status[:unverified] %>
			<div class='project-signup-form-title'>Project Target Amount</div>
			
			<div class='red projectNote'>Please note that this cannot be changed once your project has been accepted</div>

            <%= f.text_field :target_amount, :class => 'project-signup-text requestPopupinput textamount input' %>
				
			<div class='project-signup-form-title'>Project Length</div>

			<div class='red projectNoteBottom'>Please note that this cannot be changed once your project has been accepted</div>
			
            <%= f.text_field :duration, :class => 'project-signup-text daysLeftInput input project' %>
				
			
		<% end %>
		

        <div class='project-signup-form-title'>Project Image</div>
        <div class='project-edit-small-image'><img src='<%= @project.thumbnail %>'/></div>
        <div class='project-signup-form-content imageSub'>Max file size 4MB. JPG, PNG, GIF.</div>
        <div class='project-file-input-wrap'>
            <%= f.file_field :thumbnail, :class => 'project-file-input'%>
        </div>

        <div class='project-signup-form-title'>Project Location</div>
        <div class='project-file-input-wrap'>
            <%= f.text_field :location, :class => 'project-signup-text-medium locationField input', :id => 'locationField' %>
        </div>

        <img class='google-location' src='<%= asset_path('google.png') %>'/>

        <div class='project-signup-form-title'>Brief Project Description</div>
        <div class='project-signup-form-content briefSub'><span id='remainingCounter'>220</span> characters remaining</div>
        <%= f.text_area :blurb, :class => 'project-signup-textarea briefTextArea input', :id => 'blurbArea' %>

        <script type='text/javascript'>
            counter('remainingCounter', 220, 'blurbArea');
            autocomplete('locationField')
        </script>

        <div class='project-signup-form-title'>Starting media</div>

        <% if @project.startingvideo %>
            <%= renderYoutube(300,200,@project.startingvideo).html_safe %>
        <% else %>
            <div class='project-edit-main-image'>
                <img src='<%= @project.startmedia %>'/>
            </div>
        <% end %>

        <div class='project-file-input-wrap starting-media'>
            <div class='project-create-file' id='file-input-parent'>
                <div id='imgButton' class='gradient-button'><div class='buttonText bold'>I want to use an image as my starting media</div></div>
                <div class='bold'>Image upload</div>
                <div>Max file size 4MB.  JPG, PNG, GIF.</div>
                <%= f.file_field :startmedia, :class => 'project-file-input' %>
            </div>
            <div class='project-create-file' id='url-input-parent'>
                <div id='videoButton' class='gradient-button'><div class='buttonText bold'>I want to use a video as my starting media</div></div>
                <div class='bold'>Video embed</div>
                <div>Insert Youtube URL</div>
                <%= f.text_field :startingvideo, :class => 'project-signup-url input'%>
            </div>
            <div id='videoPreview'></div>
        </div>


        <div class='project-signup-form-title'>Project Overview</div>
        <div class='project-signup-form-content rightAreaHint'>What is the project about? What is your story?</div>
        <div class='richTextWrap'>
            <%= f.text_area :overview, :class => 'project-signup-textarea input', :id => 'detailsEditor' %>
        </div>
        <div class='project-signup-form-title'>Project Impact</div>
        <div class='project-signup-form-content rightAreaHint'>What will be the measurable social, environmental, or economical impacts your project?  e.g. The new shelter will accommodate 300 women and children. </div>
        <div class='richTextWrap'>
            <%= f.text_area :impact, :class => 'project-signup-textarea input', :id => 'impactEditor' %>
        </div>
        <div class='project-signup-form-title'>Use of funds</div>
        <div class='project-signup-form-content rightAreaHint'>How will you use your funds to create the impacts mentioned above?  Mention tangible items or services that you will be creating or prividing.  e.g. 5 beds, 6 toilets, and building supples.</div>
        <div class='richTextWrap'>
            <%= f.text_area :funds, :class => 'project-signup-textarea input', :id => 'useEditor' %>
        </div>
        <div class='project-signup-form-title'>Project Milestones</div>
        <div class='project-signup-form-content rightAreaHint'>What does your timeline look like?  What do you expect to get done by what dates?</div>
        <div class='richTextWrap'>
            <%= f.text_area :milestones, :class => 'project-signup-textarea input', :id => 'milestoneEditor' %>
        </div>
        <div>
            <%=f.submit "Update",:disable_with => 'creating...', :class => 'weeve-medium-button project-conditions-continue'%>
        </div>

        <script type='text/javascript'>
            loadProject();
        </script>
    </div>
<% end %>

<%= render "project_edit_bottom" %>