<div class='edit-title'>Password</div>
<%= form_tag :controller => :accounts, :action => :change_password do %>
    <% if @account.errors.any? %>
        <div class='confirmBox error smallmargin smallConfirmBox'>
            <div class='closeConfirm'></div>
            <% for message in @account.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
        </div>
    <% end %>
    <div class='signup-form account-edit'>
        <table>
            <tbody>
                <tr>
                    <th>Current Password</th>
                    <td><%= password_field :account, :password, :class => 'signup-form-field' %></td>
                </tr>
                <tr>
                    <th></th>
                    <td class="hint"></td>
                </tr>

                <tr>
                    <th>New Password</th>
                    <td><%= password_field :account, :new_password, :class => 'signup-form-field' %></td>
                </tr>
                <tr>
                    <th></th>
                    <td class="hint">At least 6 characters</td>
                </tr>

                <tr>

                <tr>
                    <th>Confirm New Password</th>
                    <td><%= password_field :account, :new_password_confirm, :class => 'signup-form-field' %></td>
                </tr>
                <tr>
                    <th></th>
                    <td class="hint"></td>
                </tr>

                <tr>
                    <th></th>
                    <td><%= submit_tag "Update",:disable_with => 'creating...', :class => 'signup-submit weeve-medium-button'%></td>
                </tr>
            </tbody>
        </table>
    </div>
<% end %>